@import url(http://fonts.googleapis.com/css?family=Raleway);

.Menu-home {
  transition: 0.5s;
  position: absolute;
  width: 98.3%;
  height: 97.5%;
  background-image: url("../../assets/images/valley-1347.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
}

.Menu-bio {
  transition: 0.5s;
  position: absolute;
  width: 98.3%;
  height: 97.5%;
  background-image: url("../../assets/images/sao-paulo-1346.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
}

.Menu-work {
  transition: 0.5s;
  position: absolute;
  width: 98.3%;
  height: 97.5%;
  background-image: url("../../assets/images/empty-office-1346.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
}

.Menu-contact {
  transition: 0.5s;
  position: absolute;
  width: 98.3%;
  height: 97.5%;
  background-image: url("../../assets/images/telegraph-1346.jpg");
  background-size: cover;
  background-position: center;
  background-color: black;
}


.Nav-1 {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
}

.Link-1 {font-family: Raleway;
  transition: 0.5s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 2%;
}

.Link-1:hover {
  background-color: rgba(255,255,255,0.7);
  color: #000000;
  padding: 10px 10px;
}

.Clock {
  float: right;
  /*position: absolute;
  top: 0; left: 1; bottom: 0; right: 0;*/
}

.Contents {
  animation: backgroundContents 0.5s linear;
  text-align: center;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(0,0,0,0.5);
  margin-top: 10%;
  padding: 2%;
  color: white;
}

@keyframes backgroundContents {
  from {
    background-color: rgba(0,0,0,0.0);
    color: rgba(0,0,0,0.0);
  }

  to {
    background-color: rgba(0,0,0,0.5);
    color: white;
  }
}