.Work {
  text-align: center;
}

.Work-header{
  animation: backgroundWork 0.3s linear;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(0,0,0,0.5);
  height: 300px;
  padding: 0px;
  color: white;
}

@keyframes backgroundWork {
  from {
    background-color: rgba(0,0,0,0.0);
    color: rgba(0,0,0,0.0);
    height: 500px;
  }

  to {
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 300px;
  }
}