.Welcome {
  text-align: center;
}

.Welcome-logo {
  animation: Welcome-logo-spin infinite 5s linear;
  height: 80px;
}

.Welcome-header {
  animation: backgroundHome 0.3s linear;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgba(0,0,0,0.5);
  height: 230px;
  padding: 10px;
  color: white;
}

.Welcome-intro {
  font-size: large;
}

@keyframes Welcome-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes backgroundHome {
  from {
    background-color: rgba(0,0,0,0.0);
    color: rgba(0,0,0,0.0);
    height: 400px;
  }

  to {
    background-color: rgba(0,0,0,0.5);
    color: white;
    height: 230px;
  }
}
